@page "/PAbogados"

<h3>Lista de Abogados</h3>

<div class "form-group row">
    <div class="col-sm-2">
        <a href="/PAbogados/Nuevo" class="btn btn-primary">Nuevo Abogado</a>
    </div>
</div>

@if (abogadosLista == null)
{
    <div class="spinner"></div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Codigo Abogado</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>Esta Activo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var abog in abogadosLista)
            {
                <tr>
                    <td>@abog.CodigoAbogado</td>
                    <td>@abog.Nombre</td>
                    <td>@abog.Apellido</td>
                    <td>@abog.Telefono</td>
                    <td>@abog.Correo</td>
                    <td>
                        @if (@abog.EstaActivo)
                        {
                            <span class="oi oi-circle-check" style="color:green;"></span>
                        }
                        else
                        {
                            <span class="oi oi-circle-x" style="color:red;"></span>
                        }
                    </td>
                    <td>
                        <a class="btn btn-success" href="@($"/PAbogados/Editar/{abog.CodigoAbogado}")">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
